<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static', filename='js/scripts.js') }}" defer></script>
    <title>To-do App</title>
    <link rel="icon" type="image/x-icon" href="static/images/favicon.ico">
</head>
<body style="margin: 0%; position: relative;">
    <h2 style="
        font-family: Arial, Helvetica, sans-serif;
        font-size: larger; text-align: center; background-color: rgb(33, 103, 234);
        margin-top: 0px; padding-top: 20px; padding-bottom: 20px;
        color: azure;
        ">
        Your Instant To-Do List
    </h2>
    <div style="margin-top: 5vh; display: flex; justify-content: center;">
        <div style="width: 60%; max-width: 600px;">
            <form method="post" style="width: 90%; display: flex; align-items: center; justify-content: space-between;">
                <input style="width: 80%; padding: 8px 10px; font-size: medium;"
                    type="text"
                    name="item"
                    placeholder="Add something to do."
                    required
                />
                <input style="
                    background-color: rgb(33, 103, 234); color: white; border: none; padding: 10px 20px;
                    font-size: medium; font-family: Arial, Helvetica, sans-serif; border-radius: 3px;"
                    type="submit"
                    value="Add"
                />
            </form>
            <div style="margin-left: 20px; margin-top: 50px;">
                <p style="color:dodgerblue; font-weight: 800;"><em>My To-Do List:</em></p>
                <ul style="list-style-type: none; width: 80%; box-sizing: border-box; padding: 0 0; margin-left: 10px;">
                    {% if items|length == 0 %}
                        <p style="color:darkgrey; font-style: oblique;">Nothing to-do! Add something.</p>
                    {% endif %}
                    {% for item in items %}
                        <li id="item-entry" data-id="item-{{ item.id }}"
                            style="margin: 8px 0; font-family: Arial, Helvetica, sans-serif; font-size: large;
                            font-weight: 400; color: rgb(16, 60, 142); border-bottom: 1px dotted rgb(48, 117, 246);">
                            <!-- START OF EDIT SECTION-->
                            <div id="item-edit-section" hidden>
                                <div style="display: flex; justify-content: space-between; align-items: center; margin: 10px 0;">
                                    <input
                                        style="width: 60%; padding: 4px 6px; font-size: medium;"
                                        id="edit-input"
                                        type="text"
                                        value="{{item.item}}"
                                    />
                                    <div style="display: flex; justify-content: space-around; gap: 4px;">
                                        {% include('item-edit-buttons.html') %}
                                    </div>
                                </div>
                            </div>
                            <!-- END OF EDIT SECTION -->
                            <div id="item-display-full" data-id="item-{{item.id}}" hidden="false"
                                style="display: flex; justify-content: space-between; align-items: center;">
                                <div id="item-content" style="display: flex; flex-direction: column; flex-wrap: wrap;">
                                    <div style="margin: 5px 0;">{{item.item}}</div>
                                    <div style="font-size: 12px; color: rgba(16, 60, 142, 0.623); margin-bottom: 2px;">
                                        Created at: {{ item.verbose_time() }} (UTC)
                                    </div>
                                </div>
                                <div style="display: flex; justify-content: space-around; gap: 4px;">
                                    {% include('item-buttons.html') %}
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</body>
</html>