<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static', filename='js/scripts.js') }}" defer></script>
    <title>To-do App</title>
    <link rel="icon" type="image/x-icon" href="static/images/favicon.ico">
</head>
<body style="margin: 0%; position: relative;">
    <h2 style="
        font-family: Arial, Helvetica, sans-serif;
        font-size: larger; text-align: center; background-color: rgb(33, 103, 234);
        margin-top: 0px; padding-top: 20px; padding-bottom: 20px;
        color: azure;
        ">
        Your Instant To-Do List
    </h2>
    <div style="margin-top: 5vh; display: flex; justify-content: center;">
        <div style="width: 60%; max-width: 600px;">
            <form method="post" style="width: 90%; display: flex; align-items: center; justify-content: space-between;">
                <input style="width: 80%; padding: 8px 10px; font-size: medium;"
                    type="text"
                    name="item"
                    placeholder="Add something to do."
                    required
                />
                <input style="
                    background-color: rgb(33, 103, 234); color: white; border: none; padding: 10px 20px;
                    font-size: medium; font-family: Arial, Helvetica, sans-serif; border-radius: 3px;"
                    type="submit"
                    value="Add"
                />
            </form>
            <div style="margin-left: 20px; margin-top: 50px;">
                <p style="color:dodgerblue; font-weight: 800;"><em>My To-Do List:</em></p>
                <ul style="list-style-type: none; width: 80%; box-sizing: border-box; padding: 0 0; margin-left: 10px;">
                    {% if items|length == 0 %}
                        <p style="color:darkgrey; font-style: oblique;">Nothing to-do! Add something.</p>
                    {% endif %}
                    {% for item in items %}
                        <!-- Extra identifier can be added by prefixing the attribute with 'data-' -->
                        <li id="item-entry" data-id="item-{{ item.id }}"
                            style="margin: 8px 0; font-family: Arial, Helvetica, sans-serif; font-size: large;
                            font-weight: 400; color: rgb(16, 60, 142); border-bottom: 1px dotted rgb(48, 117, 246);"
                        >
                            <!-- START OF EDIT SECTION-->
                            <div id="item-edit-section" hidden>
                                <input
                                    type="text"
                                    value="{{item.item}}"
                                />
                                <button id="item-edit-done" title="Done" type="submit">
                                    <?xml version="1.0" encoding="utf-8"?><!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
                                    <svg fill="#000000" width="28px" height="28px" viewBox="0 0 24 24" id="d9090658-f907-4d85-8bc1-743b70378e93" data-name="Livello 1" xmlns="http://www.w3.org/2000/svg">
                                        <path id="70fa6808-131f-4233-9c3a-fc089fd0c1c4" data-name="done circle" d="M12,0A12,12,0,1,0,24,12,12,12,0,0,0,12,0ZM11.52,17L6,12.79l1.83-2.37L11.14,13l4.51-5.08,2.24,2Z"/>
                                    </svg>
                                </button>
                                <button id="item-edit-cancel" title="Cancel" type="submit">
                                    <?xml version="1.0" encoding="iso-8859-1"?>
                                    <svg fill="#000000" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                                        width="28px" height="28px" viewBox="0 0 416.979 416.979"
                                        xml:space="preserve">
                                        <g>
                                            <path d="M355.914,61.065c-81.42-81.42-213.428-81.42-294.849,0s-81.421,213.427,0,294.849c81.42,81.42,213.428,81.42,294.849,0
                                                C437.334,274.492,437.334,142.485,355.914,61.065z M312.525,258.763c4.454,4.454,4.454,11.675,0,16.129l-37.632,37.632
                                                c-4.454,4.454-11.675,4.453-16.13,0l-50.273-50.275l-50.275,50.275c-4.453,4.455-11.674,4.453-16.128,0l-37.632-37.632
                                                c-4.454-4.454-4.453-11.674,0-16.127l50.275-50.276l-50.275-50.275c-4.453-4.454-4.453-11.675,0-16.128l37.633-37.632
                                                c4.454-4.454,11.675-4.454,16.127,0l50.275,50.275l50.274-50.275c4.454-4.454,11.675-4.454,16.129,0l37.632,37.632
                                                c4.453,4.454,4.454,11.675,0,16.128l-50.275,50.275L312.525,258.763z"/>
                                        </g>
                                    </svg>
                                </button>
                            </div>
                            <!-- END OF EDIT SECTION -->
                            <div id="item-display-full" data-id="item-{{item.id}}" hidden="false"
                                style="display: flex; justify-content: space-between; align-items: center;">
                                <div id="item-content" style="display: flex; flex-direction: column; flex-wrap: wrap;">
                                    <div style="margin: 5px 0;">{{item.item}}</div>
                                    <div style="font-size: 12px; color: rgba(16, 60, 142, 0.623); margin-bottom: 2px;">
                                        Created at: {{ item.verbose_time() }} (UTC)
                                    </div>
                                </div>
                                <div style="display: flex; justify-content: space-around; gap: 4px;">
                                    {% include('item-buttons.html') %}
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</body>
</html>